/* li reset */

li {
  display: inline-block;
  list-style: none;
}

.slideWrap {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  height: 200px;
  overflow: hidden;
}

.slideWrap .imgSlide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

.slideWrap .imgSlide li {
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin-right: 5vw;
  background-color: #ccc;
  text-align: center;
}

.imgSlide.original {
  animation: slide01 30s linear infinite;
}

.imgSlide.clone {
  animation: slide02 30s linear infinite;
}

/* `slide01` 애니메이션
    - 처음엔 정위치
    - 50%까지는 왼쪽으로 완전히 이동하여 안보이게
    - 50% 직후(50.01%)에 가장 오른쪽으로 이동하여 clone 이미지 오른쪽에 붙이기
    - 100%에서는 다시 정위치 
*/

@keyframes slide01 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  50.01% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* 2. `slide02` 애니메이션
    - 처음엔 정위치
    - 100%까지는 왼쪽으로 끝까지 이동 
*/

@keyframes slide02 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}
